:root{

--azul:#0F4AA5;
--azul-claro:#2D7FF9;
--branco:#ffffff;
--cinza:#F5F7FA;
--texto:#202124;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#fff;
color:var(--texto);

}

.header{

position:fixed;
top:0;
left:0;
width:100%;
background:rgba(255,255,255,.92);
backdrop-filter:blur(15px);
z-index:999;
transition:.4s;

}

.container{

width:90%;
max-width:1300px;
margin:auto;

}

.nav{

height:85px;
display:flex;
align-items:center;
justify-content:space-between;

}

.logo img{

height:62px;

}

.menu{

display:flex;
list-style:none;
gap:40px;

}

.menu a{

text-decoration:none;
font-weight:500;
color:#222;
transition:.3s;

}

.menu a:hover{

color:var(--azul);

}

.btn-header{

background:var(--azul);
color:#fff;
padding:14px 28px;
border-radius:50px;
text-decoration:none;
font-weight:600;
transition:.3s;

}

.btn-header:hover{

transform:translateY(-3px);

}

.hero{

display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
gap:70px;
padding:170px 8%;
background:linear-gradient(
180deg,
#ffffff,
#f7fbff
);

}

.tag{

display:inline-block;
background:#EAF2FF;
padding:10px 18px;
border-radius:40px;
color:var(--azul);
font-weight:600;
margin-bottom:25px;

}

.hero h1{

font-size:58px;
line-height:1.1;

}

.hero p{

margin:30px 0;
font-size:19px;
line-height:1.8;
color:#666;

}

.hero-buttons{

display:flex;
gap:20px;

}

.btn-primary{

background:var(--azul);
padding:16px 34px;
color:#fff;
text-decoration:none;
border-radius:40px;
font-weight:600;

}

.btn-secondary{

border:2px solid var(--azul);
padding:16px 34px;
border-radius:40px;
text-decoration:none;
color:var(--azul);
font-weight:600;

}

.hero-image img{

width:100%;
border-radius:25px;
box-shadow:0 35px 70px rgba(0,0,0,.15);

}
